<div class="container-fluid">
  <div class="row  justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
      <!-- Default form login -->
      <form [formGroup]="fg" (ngSubmit)="save()" class="text-center border border-light">

        <p class="h4 mb-4">Chat Apps</p>
        <!-- Email -->
        <input type="text" id="defaultLoginFormName" class="form-control mb-4"
          placeholder="Name" formControlName="name">

        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4"
          placeholder="E-mail" formControlName="email">

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control
          mb-4" placeholder="Password" formControlName="password">

          <!-- Email -->
        <input type="text" id="defaultLoginFormNumber" class="form-control mb-4"
        placeholder="Mobile" formControlName="mobile">

        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
          </div>
        </div>

        <!-- Sign in button -->
        <button mdbBtn color="info" block="true" class="my-4 btn-secondary" type="submit">Sign
          up</button>

        <!-- Register -->
        <p>Not a member?
          <a href="login" (click)="getLogin()">Log in</a>
        </p>

        <!-- Social login -->
        <p>or sign in with:</p>

        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="google"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="github"></mdb-icon>
        </a>

      </form>
      <!-- Default form login -->
    </div>
  </div>
</div>